.form {
    margin: 0 auto;
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form h2 {
    font-size: 2.5rem;
}

.equals {
    font-size: 2rem;
    font-weight: bold;
}